.row{
    display: flex;
}
.col{
    background-color: darkcyan;
    margin: 10px;
    flex:1;
    color:whitesmoke;
    height: 20px;
    text-align: start;
    padding: 10px;
}
.col-2{
    background-color: darkcyan;
    margin: 10px;
    flex:2;
    color:whitesmoke;
    height: 20px;
    text-align: start;
    padding: 10px;
}