h1{
    background-color: black;
    color: antiquewhite;
}
h2{
    background-color: blueviolet;
    color: antiquewhite;
    text-align: center;
    font-style: italic;
}
h3{
    background-color:rgb(126, 189, 237);
    color: black;
    text-align: right;
    text-decoration: underline;
}