.container{
    width: 950px;
    background-color: silver;
    margin: 10px;
    padding: 10px;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin: 10px;
    width: 910px;
}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    margin: 10px 0px;
}
.main {
    height: 400px;
    width: 800px;
    background-color: red;
    margin: 10px 20px;
    display: inline;
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline;
    margin: 6px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 16px;
}
.row {
    display: flex;
    margin: 10px;
}

